.carousel-wrapper{
    display: flex;
    position: absolute;
    top: 156px;
    left: 0;
    min-width: 100%;
  }
  
  @media  (max-width: 992px){
      .carousel-wrapper{
          top: 95px;
          height: 300px !important;
      }
      .carousel-wrapper img{
        
        height: 300px !important;
    }
  }

